@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Los estilos se aplican a todo el documento */
body {
    background-image: linear-gradient(135deg , rgba(223, 181, 223, 0.3)), rgba(44,144,244,0) 
    url('../assets/images/calacas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    color: crimson
    font-family "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

.sobre-mi{
max-width: 800px;
border-style: solid;
border-radius: 20px;
border-width: 1px;
margin: auto;
padding: 20px;
background-image: linear-gradient(135deg, rgba(0,0,0,0.551)),rgba(0,31,0);
}
.sobre-mi h2 {
    text-align: center;

}
.social-icons{
    width: 30px;
    width: 30px;
}
}